.container {
    width: 900px;
    margin: auto;
}


.cards{
  display: flex;
  justify-content: space-between;
}

.card {
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
    margin: 20px;
}

.card img {
  width: 150px;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Poppins;
    text-align: center;
}
